{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}

<form action="{% url 'save_edit' %}" method="POST">
    {% csrf_token %}
    <label for="title">Title</label>
    <br/>
    <input type = "text" value={{title}}  placeholder="Add the title" name="title" >
    <br/>
    <label for="content">Markdown Content</label>
    <textarea name="content">{{content}}</textarea>
    <input type="submit" value="Save" class="btn btn-info">

</form>


{% endblock %}